* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  background-color: #FFCC8F;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.nav span {
  cursor: pointer;
  user-select: none;
  font-size: 30px;
}

.content {
  background-color: aliceblue;
  height: 80vh;
}